{% include "store/base.html" %}
<!--
    menggunakan template base.html dari folder store sebagai template dasar
-->
{% load static %}
<!--
  memuat koleksi tag-tag static
  memungkinkan penggunaan template tag static untuk menyertakan file-file statis seperti CSS dan JavaScript
    "file statis" itu kayak file CSS, JavaScript, gambar, dll pokoknya yang tidak berubah dan tidak dipengaruhi oleh data dari server
    file-file ini biasanya dipakai untuk nentuin tampilan dan perilaku halaman web
-->
{% block content %}
<!--
  blok yang ditentukan di template base.html
  semua konten di antara tag block content dan endblock akan diganti dengan blok konten yang sesuai dari template induk
  bikin unik, kalo ada frotnend code di atas block ga akan keliatan
-->
<style>
    body{
        background-color: gray;
    }
</style>
<body>
    <br>
    <div class="container bg-white shadow-sm p-5 form-layout">
        <div class="text-center">
            <i class="fa fa-frown-o fa-5x text-danger" aria-hidden="true"></i>
        </div>
        <br>
        <h4> <strong> Your account is not verified yet! </strong> </h4>
        <p> Let's verified your account and buy your favorite books! </p>
    </div>
</body>
{% endblock %}