<!--
    mewarisi atau memperluas template dasar atau base.html
    memuat semua blok yang didefinisikan dalam base.html dan dapat menambahkan atau mengubahnya
-->
{% extends "./base.html" %} 

<!--
    mengimpor templatag static untuk mengakses file statis (seperti CSS, JavaScript, gambar) dalam template
-->
{% load static %}

<!--
    blok yang ditentukan di template base.html
    semua konten di antara tag block content dan endblock akan diganti dengan blok konten yang sesuai dari template induk
    isinya itu tata letak halaman dari gambar produk, judul produk, merek produk, deskripsi produk, harga produk, dan opsi add to cart
    ada script JavaScript untuk menangani penambahan produk ke keranjang belanja secara dinamis menggunakan Ajax
        maksudnya biar webnya lebih responsif dan interaktif bagi pengguna
-->
{% block content %}

<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
            <!-- Product image -->
                <img class="img-fluid mx-auto d-block" alt="Responsive image" src="{{product.image.url}}">     
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
            <!-- Product title -->
                <h1 class="mb-0 h4"> {{product.title}} </h1>
            <!-- Product brand -->
                <strong> {{product.brand}} </strong>
                <hr>
                <br>
            <!-- Product description -->
                <p>
                    {{product.description}}
                </p>

                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"> Price </div>
                        <!-- Product price -->
                            <div class="col-6 text-end"><span class="h4 fw-bold">IDR {{product.price}} </span></div>
                        </div>
                    </div>
                    <div class="col">     
                        <div class="row p-3">       
                        <!-- Dropdown Quantity -->
                            <div class="col-6">                                     
                                <label for="select">Qty</label>
                                &nbsp; 
                                <select id="select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        <!-- Add To Cart Button -->
                            <div class="col-6 text-end">
                                <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm">
                                <!--    <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; -->
                                Add to cart 
                                </button> 
                            </div>             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>
</div>

<!--
    ajax agar html nya interaktif
    ada script JavaScript untuk menangani penambahan produk ke keranjang belanja secara dinamis menggunakan Ajax
        maksudnya biar webnya lebih responsif dan interaktif bagi pengguna
-->
<script>
    // Add button
    $(document).on('click', '#add-button', function(e){
        e.preventDefault();
        //agar ajax tidak run kalo ga dipencet
        $.ajax({
            type: 'POST',
            //type, sending a data
            url: '{% url "cart-add" %}',
            //specify add button url
            data: {
                product_id: $('#add-button').val(),
                product_quantity: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                //to protect any short of issues
                action: 'post'
            },
            //pass in some data
            success: function(json){
                //console.log(json)
                location.reload(true);
                //set to true because to ensure users have a smoother experience on all web browsers
                document.getElementById("cart-qty").textContent = json.qty
                //biar keliatan jumlah yang ada di chart

            },
            error: function(xhr, errmsg, err){
            }
        });
    })
</script>

{% endblock %}