<!--
  menginstruksikan Django untuk memperluas (extends) template base.html
  artinya template ini akan mewarisi semua blok dan konten dari template base.html
-->
{% extends "./base.html" %}

<!--
  memuat koleksi tag-tag static
  memungkinkan penggunaan template tag static untuk menyertakan file-file statis seperti CSS dan JavaScript
    "file statis" itu kayak file CSS, JavaScript, gambar, dll pokoknya yang tidak berubah dan tidak dipengaruhi oleh data dari server
    file-file ini biasanya dipakai untuk nentuin tampilan dan perilaku halaman web
-->
{% load static %}

<!--
  blok yang ditentukan di template base.html
  semua konten di antara tag block content dan endblock akan diganti dengan blok konten yang sesuai dari template induk
  bikin unik, kalo ada frotnend code di atas block ga akan keliatan
-->
{% block content %}

    <!--
      Introduction section
      menampilkan gambar, judul, dan deskripsi singkat dari situs web ("Bibliophile"), kutipan tentang buku dan tautan untuk membuat akun
    -->
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img src="https://i.pinimg.com/564x/c6/11/11/c61111ebd0d0247be7c571835e02273a.jpg"
                height="300">
                <h4> Bibliophile </h4>
                <br>
                <h5>Your Personal library.</h5>
                <br>
                <p class="lead text-muted">
                “That's the thing about books. They let you travel without moving your feet.” – Jhumpa Lahiri, The Namesake</p>
                <br>
                <h5>Browse our collections!</h5>
                <br>
                <a href="{% url 'register' %}" class="btn btn-primary my-2">
                  Create an account 
                </a>
            </div>
        </div>
    </section>

       <!--
        All products section
      -->
       <div class="album py-5 bg-light">
        <div class="container">
        <!--
          menampilkan semua produk yang tersedia, isinya gambar, judul, dan harga produk
        -->
          <div class="pb-3 h5">
            All products
          </div>
          <hr>
          <br>
        <!--
          data produk diteruskan dari view Django melalui variabel my_products yang dilewatkan ke dalam template
        -->
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in my_products %}
              <div class="col">
                <div class="card shadow-sm">
                  <img class="img-fluid" alt="Responsive image" src="{{product.image.url}}">
                  <div class="card-body">
                    <p class="card-text">
                    <!--
                      directed to the product
                        produknya punya tautan yang nanti kalo judulnya dipencet akan ke halaman detail produk
                          menggunakan fungsi get_absolute_url yang didefinisikan dalam model Django
                    -->
                      <a class="text-info text-decoration-none" href="{{product.get_absolute_url}}">
                        {{ product.title | capfirst }}
                      </a> 
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <h5> IDR {{product.price}} </h5>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

{% endblock %}


